APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
#USE_SELENIUM=

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=news
DB_USERNAME=news
DB_PASSWORD=psw123

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=public
QUEUE_CONNECTION=redis
#QUEUE_CONNECTION=rabbitmq
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
#PUSHER_HOST=
#PUSHER_PORT=443
#PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

CURRENCY_SERVICE=Freecurrencyapi
FREECURRENCY_API_KEY=WclBogicPhIL5SBcd8dgKIKsRGYPgBvzQl903pej
EXCHANGERATE_API_KEY=09e6255e47eed555bcc2bad4

NEWS_SERVICE=Newsapi
NEWSAPI_API_KEY=b3a59bffe797431398b7f829270014e1

ELASTICSEARCH_ENABLED=true
ELASTICSEARCH_HOSTS=es:9200

RABBITMQ_DSN=amqp://
RABBITMQ_HOST=rat.rmq2.cloudamqp.com
RABBITMQ_VHOST=bkjyjpqv
RABBITMQ_USER=bkjyjpqv
RABBITMQ_PASSWORD=fvq_h2Xc_dUoSuKcfz9mJvuxk4t08_bB
RABBITMQ_QUEUE=jobs
